@import url('https://fonts.googleapis.com/css?family=Montserrat|Zilla+Slab:300');

body {
    background-color: pink;
}

h1, p {
    color: white;
    text-align: center;
    padding: 10px 5px 15px 20px
    font-family: 'Zilla Slab', serif;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-style: bold;
	font-size: 46px
}

p {
	font-family: 'Zilla Slab', serif;
	color: white;
}

#contact {
	text-align: right
}